/////////////////////////
// Colors
/////////////////////////

:root {
  // Color Declarations

  --clr-red: 7 99% 70%;
  --clr-yellow: 51 100% 49%;

  --clr-blue-200: 198 62% 26%;

  --clr-cyan-200: 167 40% 24%;
  --clr-cyan-400: 168 34% 41%;

  --clr-neutral-100: 212 27% 19%;
  --clr-neutral-300: 213 9% 39%;
  --clr-neutral-400: 232 10% 55%;
  --clr-neutral-600: 210 4% 67%;

  --clr-white: 0 0% 100%;
}

// Color Utilities

.text-white {
  color: hsl(var(--clr-white));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}

.text-neutral-300 {
  color: hsl(var(--clr-neutral-300));
}

.text-neutral-400 {
  color: hsl(var(--clr-neutral-400));
}

.text-neutral-600 {
  color: hsl(var(--clr-neutral-600));
}



