/////////////////////////
// Custom Properties
/////////////////////////

:root {
  // Colors
  --clr-red: 7 99% 70%;
  --clr-yellow: 51 100% 49%;

  --clr-blue-200: 198 62% 26%;

  --clr-cyan-200: 167 40% 24%;
  --clr-cyan-400: 168 34% 41%;
  --clr-cyan-600: 168 44% 70%;

  --clr-neutral-100: 212 27% 19%;
  --clr-neutral-300: 213 9% 39%;
  --clr-neutral-400: 232 10% 55%;
  --clr-neutral-600: 210 4% 67%;

  --clr-white: 0 0% 100%;

  // Font families

  --ff-serif: 'Fraunces', serif;
  --ff-sans: 'Barlow', sans-serif;

  // Font sizes
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1rem;
  --fs-700: 2rem;
  --fs-900: clamp(1rem, calc(1rem + 5vw), 3.5rem);
  
  @media screen and (min-width: 35em) {
    --fs-500: 1.25rem;
    --fs-700: 2.5rem;
  }
}