/////////////////////////
// Typography
/////////////////////////

// Font families

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans {
  font-family: var(--ff-sans);
}

// Letter Spacing

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 5px;
}

.letter-spacing-3 {
  letter-spacing: 8.75px;
}


// Font sizes

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-900 {
  font-size: var(--fs-900);
}

// Font weights

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

// Utilities

.uppercase {
  text-transform: uppercase;
}

.ta-center {
  text-align: center;
}
