---
import Hero from "../sections/hero.astro";

import Testimonial from "../components/Testimonial.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href={Astro.resolve("../styles/main.css")}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600;700&family=Bellefair&family=Fraunces:wght@700;900&display=swap" rel="stylesheet"> 

  <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon">
  <title>Frontend Mentor - Sunnyside Agency Landing Page</title>
</head>

<body>
  <Hero />

  <div class="split-2-right">
    <div>
      <picture class="img-cover">
        <source media="(min-width: 50em)" srcset="/images/desktop/image-transform.jpg" />
        <img src="/images/mobile/image-transform.jpg" alt="an egg">
      </picture>
    </div>

    <div>
      <div class="v-center">
        <div class="about-content flow">
          <h2 class="ff-serif fs-700 text-neutral-100 fw-900">Transform your brand</h2>
          <p class="fs-400 text-neutral-400">We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.</p>
          <a class="link-underline link-underline-yellow text-neutral-100 ff-serif fw-900 uppercase letter-spacing-1 fs-300" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="split-2">
    <div>
      <picture class="img-cover">
        <source media="(min-width: 50em)" srcset="/images/desktop/image-stand-out.jpg" />
        <img src="/images/mobile/image-stand-out.jpg" alt="a ceramic red wine glass">
      </picture>
    </div>
    
    <div>
      <div class="v-center">
        <div class="about-content-right flow">
          <h2 class="ff-serif fs-700 text-neutral-100 fw-900">Stand out to the right audience</h2>
          <p class="fs-400 text-neutral-400">Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places. </p>
          <a class="link-underline link-underline-red text-neutral-100 ff-serif fw-900 uppercase letter-spacing-1 fs-300" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="split-2">
    <div class="service-section service-section-design">
      <div class="flow">
        <h2 class="ff-serif fs-600 fw-900 text-cyan-200">Graphic Design</h2>
        <p class="fs-300 text-cyan-200">Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>
      </div>
    </div>

    <div class="service-section service-section-photography">
      <div class="flow">
        <h2 class="ff-serif fs-600 fw-900 text-blue-200">Photography</h2>
        <p class="fs-300 text-blue-300">Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
      </div>
    </div>
  </div>


  <div class="testimonials center flow">
    <h2 class="ff-serif fs-500 text-neutral-600 uppercase letter-spacing-2 fw-900 ta-center">Testimonials</h2>

    <div class="switcher justify-center" style="--switcher-gap: 2rem">
      <Testimonial
        name="Emily R"
        role="Marketing Director"
        imgSource="/images/image-emily.jpg"
        statement="We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit."
      />
      <Testimonial
        name="Thomas S"
        role="Chief Operating Officer"
        imgSource="/images/image-thomas.jpg"
        statement="Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience."
      />
      <Testimonial
        name="Jennie F."
        role="Business Owner"
        imgSource="/images/image-jennie.jpg"
        statement="Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!"
      />
    </div>
  </div>
</body>
</html>