<style lang="scss">
  ul {
    --gap: 3rem;
    list-style: none;

    a {
      --link-underline-clr: transparent;
      --link-underline-active-clr: hsl(var(--clr-white) / 0.25);
      text-decoration: none;
    }
  }
</style>

<nav>
  <ul class="flex fs-400 text-white">
    <li><a class="link-underline fs-400 text-white" href="#">About</a></li>
    <li><a class="link-underline fs-400 text-white" href="#">Services</a></li>
    <li><a class="link-underline fs-400 text-white" href="#">Projects</a></li>
    <li><a class="link-cta uppercase fs-300 text-neutral-100" href="#">Contact</a></li>
  </ul>
</nav>